aws_region  = "ap-northeast-2"
aws_profile = "capstone"

cluster_name = "ssd-dev-eks"
vpc_id       = "vpc-0387e9a2c02f1d5e9"

cluster_subnet_ids = [
  "subnet-0a8356d7c185d372b",
  "subnet-0b1dfd6e1ed3e43ff"
]
